.characters-list {
  padding: 0;
}

.characters-empty-list {
  align-items: center;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  margin-top: 20rem;
}

.characters .button-secondary {
  display: flex;
  justify-self: center;
}
