@use "../../index.scss" as *;

.button-custom {
  border-radius: 0.25rem;
  cursor: pointer;
  min-width: 8rem !important;

  @media (width < $breakpoint-tablet) {
    padding: 0.75rem;
    width: 100%;
  }

  &.button-primary {
    background-color: var(--text-color-primary);
    color: var(--text-color-secondary);
    border: 2px solid transparent;

    &:hover,
    &:focus {
      background-color: var(--text-color-secondary);
      color: var(--text-color-primary);
      border: 2px solid var(--text-color-primary);
    }
  }

  &.button-danger {
    border: 2px solid var(--text-color-error);
    color: var(--text-color-error);
    justify-self: center;

    &:hover,
    &:focus {
      background-color: var(--text-color-error);
      color: var(--text-color-secondary);
    }
  }

  &.button-confirm {
    border: 2px solid var(--text-color-submit);
    color: var(--text-color-submit);
    justify-self: center;

    &:hover,
    &:focus {
      background-color: var(--text-color-submit);
      color: var(--text-color-secondary);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
