.avatar-picker {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.avatar-picker-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;

  .avatar-upload-label {
    font-size: 1rem;
    color: var(--text-color-primary);
  }

  .avatar-upload-input {
    display: none;
  }

  .avatar-preview-container {
    display: flex;
    align-items: start;
    gap: 2rem;
    width: 100%;
  }
}
