.characters {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .link-as-button-secondary {
    display: flex;
    align-self: center;
  }

  .characters-error {
    place-content: center;
    color: var(--text-color-error);
    display: grid;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    height: 100%;

    @media (width < 768px) {
      font-size: 1.25rem;
    }
  }

  .characters-list {
    padding: 0;
  }

  .characters-empty {
    display: grid;
    place-content: center;
    height: calc(100% - 5rem);
    gap: 3rem;
    width: 100%;
    justify-items: center;

    @media (width < 1024px) {
      gap: 1.5rem;
    }

    .characters-empty-description {
      color: var(--text-color-primary);
      font-size: 2rem;
      margin: 0;
      text-align: center;

      @media (width < 1024px) {
        font-size: 1.25rem;
      }
    }
  }
}
