@use "../../../index.scss" as *;
.new-character {
  display: grid;
  gap: 3rem;
  grid-template-rows: min-content 1fr;

  .new-character-form {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media (width < $breakpoint-tablet) {
      grid-template-rows: min-content auto 1fr min-content;
      gap: 3rem;
    }

    .new-character-form-fieldset {
      align-content: baseline;
      border: none;
      margin: 0;
      padding: 0;

      .new-character-form-legend {
        color: var(--text-color-primary);
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
        text-align: center;

        @media (width < $breakpoint-tablet) {
          font-size: 1.75rem;
          margin-bottom: 2rem;
        }
      }

      .abilities-list {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(6, 1fr);
        margin: 0 0 1rem;
        padding: 0;
        justify-items: center;

        @media (width < $breakpoint-tablet) {
          justify-items: left;
          grid-template-columns: repeat(3, 1fr);
        }
        @media (width < $breakpoint-mobile) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (width >= $breakpoint-tablet) {
          background-color: var(--blue-400);
          border-radius: 0.5rem;
          padding: 1rem 0;
        }

        .ability {
          align-items: center;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          list-style: none;
          padding: 0;

          @media (width < $breakpoint-tablet) {
            align-items: flex-start;
          }
          @media (width < $breakpoint-mobile) {
            background-color: transparent;
          }

          .ability-input {
            width: 6rem;
          }
        }
      }

      &.notes {
        display: grid;
        gap: 1rem;

        .textarea {
          resize: none;
        }
      }
    }

    .new-character-name {
      align-items: start;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      // width: 100%;

      input {
        width: 100%;
      }
    }
  }

  .new-character-form-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .button {
      width: 15rem;

      @media (width < $breakpoint-tablet) {
        width: 100%;
      }
    }
  }
}

.error-message {
  color: var(--text-color-error);
  margin: 0;
  font-weight: 600;
}
