@use "../../index.scss" as *;

.home {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;

  @media (width < $breakpoint-tablet) {
    row-gap: 1.5rem;
  }

  .app-title {
    color: var(--red-300);
    font-size: 5.5rem;
    font-weight: 600;
    margin: 0;
    text-shadow: 0 0 7px var(--white), 0 0 10px var(--white),
      0 0 21px var(--white);

    @media (width < $breakpoint-tablet) {
      font-size: 2.5rem;
    }
  }

  .home-description {
    color: var(--main-header-color);
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-shadow: 0 0 7px var(--white), 0 0 10px var(--white),
      0 0 21px var(--white);

    @media (width < $breakpoint-tablet) {
      font-size: 1.5rem;
    }
  }

  .home-buttons {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;

    @media (width < $breakpoint-tablet) {
      row-gap: 1.5rem;
    }

    @media (width < $breakpoint-mobile) {
      flex-direction: column;
    }
  }
}
