.home {
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  align-items: center;
}

.home-buttons {
  display: flex;
  gap: 2.5rem;
}

@media (width < 768px) {
  .home-buttons {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}
