.layout {
  background-color: var(--background-color-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  justify-content: center;

  .layout-header {
    color: var(--text-color-primary);

    .content {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 3rem;
      justify-content: start;
    }
  }

  .content {
    display: grid;
    height: 100%;
    margin: 0 auto;
    place-items: center;

    @media (width > 768px) {
      width: 90%;
    }
    @media (width > 1200px) {
      width: 1200px;
    }
  }

  .layout-footer {
    align-items: center;
    background-color: var(--background-color-primary);
    color: var(--text-color-primary);
    display: flex;
    height: 4rem;
    justify-content: center;
  }

  @media (width > 768px) {
    .logo {
      height: 7rem;
      width: 7rem;
    }

    .layout-main {
      background-image: url("../../../public/bg-desktop.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  @media (width <= 767px) {
    .logo {
      height: 5rem;
      margin-left: 5%;
      width: 5rem;
    }

    .layout-main {
      background-image: url("../../../public/bg-phone.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      .content:has(.home) {
        width: 90%;
      }
    }
  }
}
