@use "../../index.scss" as *;

.layout {
  $bg-desktop: "/bg-desktop.jpeg";
  $bg-phone: "/bg-phone.jpg";

  background-color: var(--background-color-primary);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;

  .layout-header {
    color: var(--text-color-secondary);

    .content {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 4rem;
      justify-content: start;

      @media (width < $breakpoint-desktop) {
        gap: 2rem;
      }
    }

    .logo,
    .link-logo {
      height: 7rem;
      width: 7rem;

      @media (width < $breakpoint-tablet) {
        height: 5rem;
        width: 5rem;
      }
    }

    .link-logo {
      &:hover,
      &:focus {
        opacity: 0.8;
      }
    }

    .nav-list {
      display: flex;
      font-size: 1.2rem;
      font-weight: 600;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;

      @media (width < $breakpoint-tablet) {
        gap: 1.5rem;
        font-size: 1rem;
      }

      a {
        text-decoration: none;

        &.nav-link-inactive {
          color: var(--text-color-secondary);

          &:after {
            content: "";
            background-color: transparent;
            display: block;
            height: 2px;
            margin-top: 0.5rem;
            width: 100%;
          }

          &:hover,
          &:focus {
            color: var(--color-link-hover);
          }
        }

        &.nav-link-active {
          color: var(--color-link-active);

          &:after {
            content: "";
            background-color: var(--color-link-hover);
            box-shadow: 0 0 6px var(--color-link-hover);
            display: block;
            height: 2px;
            margin-top: 0.5rem;
            width: 100%;
          }
        }
      }
    }
  }

  .content {
    display: grid;
    height: 100%;
    margin: 0 auto;
    place-items: center;
    width: 90%;
    max-width: 75rem; // 1200px;

    @media (width < $breakpoint-tablet) {
      width: 100%;
    }
  }

  .layout-footer {
    align-items: center;
    background-color: var(--background-color-primary);
    color: var(--text-color-secondary);
    display: flex;
    height: 4rem;
    justify-content: center;

    @media (width < $breakpoint-desktop) {
      height: 2rem;
      font-size: 0.8rem;
    }
  }

  .layout-main {
    background-repeat: no-repeat;
    background-size: cover;

    @media (width > $breakpoint-tablet), (orientation: landscape) {
      background-image: url("../../../bg-desktop.jpeg");
    }

    @media (width < $breakpoint-tablet), (orientation: portrait) {
      background-image: url("../../../bg-phone.jpg");
    }
  }
}
