// SCSS breakpoint variables
$breakpoint-desktop: 1024px !default;
$breakpoint-tablet: 767px !default;
$breakpoint-mobile: 480px !default;

:root {
  --blue-100: #1f2629;
  --blue-200: #043a51;
  --blue-300: #0b95cb;
  --blue-400: #dde3e6;
  --blue-500: #b3ddf2;
  --gray-100: #a4a4a4;
  --gray-200: #3f3d3d;
  --green-100: #358b66;
  --red-100: #b35568;
  --red-200: #bc3f3f;
  --red-300: #a90707;
  --white: #f2f1ed;

  --abilities-background-color: var(--blue-400);
  --background-color-hover: var(--blue-400);
  --background-color-info: rgba(7, 57, 78, 0.9);
  --background-color-primary: var(--blue-100);
  --background-color-secondary: var(--white);
  --color-button-secondary: var(--blue-200);
  --color-scrollbar-thumb: var(--gray-100);
  --main-header-color: var(--red-100);
  --input-border-color-hover: var(--blue-300);
  --loader-color: var(--red-100);

  --backdrop-color: rgba(0, 0, 0, 0.75);

  --color-link-hover: var(--blue-300);
  --color-link-active: var(--blue-500);

  --text-color-primary: var(--blue-200);
  --text-color-secondary: var(--white);
  --text-color-submit: var(--green-100);
  --text-color-error: var(--red-200);
  --text-color-error-hover: var(--red-300);

  --content-height: calc(100vh - 7rem - 9.5rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "Georgia", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link-as-button {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;

  @media (width < $breakpoint-desktop) {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

.link-as-button-primary {
  border: 2px solid var(--text-color-secondary);
  color: var(--text-color-secondary);

  &:hover,
  &:focus {
    background-color: var(--background-color-primary);
    color: var(--text-color-secondary);
  }
}

.link-as-button-secondary {
  border-radius: 0.25rem;
  border: 2px solid var(--color-button-secondary);
  color: var(--color-button-secondary);

  &:hover,
  &:focus {
    background-color: var(--background-color-info);
    color: var(--text-color-secondary);
  }
}

.main-title {
  color: var(--main-header-color);
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
  word-break: break-word;

  @media (width < $breakpoint-desktop) {
    font-size: 2rem;
  }
}

.main-content {
  background-color: var(--background-color-secondary);
  height: 100%;
  padding-bottom: 0.75rem;
  padding-top: 5rem;
  width: 100%;

  @media (width >= $breakpoint-desktop) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (width < $breakpoint-desktop) {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (width > 1280px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.label {
  color: var(--text-color-primary);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0rem;
  text-transform: capitalize;

  &.required:after {
    content: "*";
    color: var(--text-color-error);
  }

  @media (width > 1280px) {
    font-size: 1.5rem;
  }
}

.input,
.textarea {
  background-color: transparent;
  border-radius: 0.25rem;
  border: 2px solid var(--text-color-primary);
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;

  &:hover,
  &:focus {
    border: 2px solid var(--input-border-color-hover);
    outline: none;
  }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 0.625rem;
    transition: all 0.3s;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
    border-radius: 0.625rem;
  }
}
