:root {
  --blue-100: #1f2629;
  --blue-200: #043a51;
  --blue-300: #0b95cb;
  --gray-100: #a4a4a4;
  --red-100: #b35568;
  --pink: #e8cfd7;
  --white: #f2f1ed;

  --background-color-info: rgba(7, 57, 78, 0.9);
  --background-color-primary: var(--blue-100);
  --background-color-secondary: var(--white);
  --background-color-hover: var(--pink);
  --color-button-secondary: var(--blue-200);
  --color-link-hover: var(--blue-300);
  --color-scrollbar-thumb: var(--gray-100);
  --home-page-header-color: var(--red-100);
  --text-color-primary: var(--white);

  --content-height: calc(100vh - 7rem - 9.5rem);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button {
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
}

.button-primary {
  border-radius: 0.25rem;
  border: 2px solid var(--text-color-primary);
  color: var(--text-color-primary);
  font-size: 1.5rem;
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
}

.button-secondary {
  border-radius: 0.25rem;
  border: 2px solid var(--color-button-secondary);
  color: var(--color-button-secondary);
  font-size: 1.5rem;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--background-color-info);
  color: var(--text-color-primary);
}

.main-title {
  color: var(--home-page-header-color);
  font-size: 4.5rem;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.main-content {
  background-color: var(--background-color-secondary);
  height: 100%;
  padding: 5rem 4rem 2rem;
  width: 100%;
}
