.not-found {
  background-color: var(--background-color-info);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3rem;
  place-items: center;
  text-align: center;
}

.not-found-description {
  color: var(--text-color-secondary);
  font-size: 1.5rem;
}
